body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #fff;
  }

  h2 {
    color: #ccc;
    margin-top: 40px;
  }

  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
  }

  td,
  th {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #666;
  }

  td:nth-child(n+2):nth-child(-n+4),
th:nth-child(n+2):nth-child(-n+4) {
  width: 33.33%;
}

/* The :nth-child() selector is used to target specific elements based on their index within their parent element. In this case, the td and th elements are the child elements of the tr element, which is the parent element.

The formula n+2 selects all elements starting from the 2nd child element (i.e., the 2nd column), while the formula -n+4 selects all elements up to and including the 4th child element (i.e., the 4th column).

When you use two :nth-child() selectors together, separated by a comma, you are essentially targeting elements that match both selectors. In this case, the first selector targets all td elements that are the 2nd, 3rd, or 4th child of their parent tr element, and the second selector targets all th elements that are the 2nd, 3rd, or 4th child of their parent tr element.

So, the entire selector td:nth-child(n+2):nth-child(-n+4), th:nth-child(n+2):nth-child(-n+4) targets all td and th elements that are the 2nd, 3rd, or 4th child of their parent tr element and applies the specified style rules to them. */

  #my-plan th {
    background-color: #1b5e20;
    font-weight: bold;
    color: #fff;
    border-top: 2px solid #666;
  }

  #niki-plan th {
    background-color: #940000;
    font-weight: bold;
    color: #fff;
    border-top: 2px solid #666;
  }

  tr:nth-child(even) td {
    background-color: #333;
  }

  .meal-category {
    margin-top: 60px;
    margin-bottom: 20px;
    color: #fff;
  }

  .meal-type {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #ccc;
  }

  .button-div {
    margin: 0 auto;
    text-align: center;
  }

  #switch-btn {
    background-color: #fff;
    color: #222;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 5px 0px 0px #333;
    text-shadow: 0px 2px 2px #333;
    transform: translateY(0px);
    transition: transform 0.2s ease-in-out;
  }

  #switch-btn:hover {
    box-shadow: 0px 3px 0px 0px #333;
    text-shadow: 0px 1px 1px #333;
    transform: translateY(2px);
  }

  #switch-btn:active {
    box-shadow: none;
    text-shadow: none;
    transform: translateY(4px);
  }

  #my-plan {
    display: none;
  }

  .multi-line {
    white-space: pre-wrap;
    /* line-height: 20px; */
  }

  a:visited, a:link {
    color:aquamarine;
  }

  .expandable {
    display: none;
  }

  #expand:checked + .expandable {
    display: block;
  }

  li {
    list-style: none;
    padding-left: 0;
}
li {
    position: relative;
    padding-left: 20px;
}

  li:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    background-image: url('https://dev-bay.com/wp-content/uploads/2018/05/bullet-1.png.webp');
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}